body {
  max-width: 30em;
  background-color: #373737;
  color: white;
  margin: auto auto;
}

body * {
  box-sizing: border-box;
}

pre {
  margin: 0;
  padding: .2em;
}

h1, h2 {
  font-family: monospace;
}

#picture {
  border-bottom: 5px solid #373737;
}

.black {
  background-color: rgb(0, 0, 0);
  color: rgb(63, 252, 65);
  border-radius: .4em;
  margin-bottom: 5px;
}

#input {
  width: 100%;
}

/* BOLD STYLES */
.person {

}
.command {
  color: white;
}
.enemy {
  color: red;
}
.place {
  font-style: italic;
  color: rgb(240, 212, 30);
}
